name: POC

on:
  push: {}

permissions:
  id-token: write
  contents: read

env:
  BASE_AWS_ACCOUNT: "077439031059"
  BASE_REGION: "eu-west-1"
  BASE_IAM_ROLE_NAME: "mike-github-test"  # GitHub OIDC role

jobs:
  generate:
    name: Generate target matrix
    runs-on: ubuntu-latest
    outputs:
      targets: ${{ steps.build.outputs.targets }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: "arn:aws:iam::${{ env.BASE_AWS_ACCOUNT }}:role/${{ env.BASE_IAM_ROLE_NAME }}"
          aws-region: ${{ env.BASE_REGION }}

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Build binary
        env:
          GOOS: linux
          GOARCH: amd64
          CGO_ENABLED: 0
        run: |
          go build -o ecr-image-checker ecr-image-checker.go
          chmod +x ecr-image-checker

      - name: Build target JSON
        id: build
        env:
          IMAGE_DIRECTORY: images
        run: ./ecr-image-checker run >> "$GITHUB_OUTPUT"

  run_for_each_target:
    name: Run per target
    needs: generate
    if: needs.generate.outputs.targets != '[]' && needs.generate.outputs.targets != ''
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target: ${{ fromJSON(needs.generate.outputs.targets) }}

    steps:
      - name: Show target
        run: |
          echo "aws_account_id=${{ matrix.target.aws_account_id }}"
          echo "aws_region=${{ matrix.target.aws_region }}"
          echo "aws_role_arn=${{ matrix.target.aws_role_arn }}"
          echo "full_image_ref=${{ matrix.target.full_image_ref }}"
          echo "target_platforms=${{ matrix.target.target_platforms }}"
          echo "working_directory=${{ matrix.target.working_directory }}"

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure Base AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: "arn:aws:iam::${{ env.BASE_AWS_ACCOUNT }}:role/${{ env.BASE_IAM_ROLE_NAME }}"
          aws-region: ${{ env.BASE_REGION }}

      # Only required if the ECR repos are in different accounts and there are no resource level policies in place
      - name: Configure AWS credentials via assume role
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ matrix.target.aws_role_arn }}
          role-chaining: true
          aws-region: ${{ matrix.target.aws_region }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build & push Docker image
        run: docker buildx build --push --platform ${{ matrix.target.target_platforms }} -t "${{ matrix.target.full_image_ref }}" ${{ matrix.target.working_directory }}
