name: Deploy images

on:
  pull_request:
    branches:
      - main
    types:
      - closed

permissions:
  id-token: write
  contents: read

jobs:
  generate:
    name: Generate target matrix
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    outputs:
      targets: ${{ steps.build.outputs.targets }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: "arn:aws:iam::${{ vars.BASE_AWS_ACCOUNT }}:role/${{ vars.BASE_IAM_ROLE_NAME }}"
          aws-region: ${{ vars.BASE_REGION }}

      - name: Build target JSON
        id: build
        env:
          IMAGE_DIRECTORY: images
          VERSION: v1.0.0
        run: |
          wget --quiet --output-document=ecr-image-checker https://github.com/michaelprice232/ecr-image-checker/releases/download/${{ env.VERSION }}/ecr-image-checker_Linux_x86_64
          chmod +x ecr-image-checker
          ./ecr-image-checker >> "$GITHUB_OUTPUT"

  run_for_each_target:
    name: Run per target
    needs: generate
    if: needs.generate.outputs.targets != '[]' && needs.generate.outputs.targets != ''
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target: ${{ fromJSON(needs.generate.outputs.targets) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure Base AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: "arn:aws:iam::${{ vars.BASE_AWS_ACCOUNT }}:role/${{ vars.BASE_IAM_ROLE_NAME }}"
          aws-region: ${{ vars.BASE_REGION }}

      - name: Configure AWS credentials via assume role
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ matrix.target.aws_role_arn }}
          role-chaining: true
          aws-region: ${{ matrix.target.aws_region }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build & push Docker image
        run: docker buildx build --push --platform ${{ matrix.target.target_platforms }} -t "${{ matrix.target.full_image_ref }}" ${{ matrix.target.build_args }} ${{ matrix.target.working_directory }}
